<!DOCTYPE html>
<html lang="en" ng-app="changePassword">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="css/change_password.css"/>
</head>
<body ng-controller="changePassword-controller">
<form>
    <label>Email</label></br>
    <input type="text" ng-model="username"></br>
    <label> Current Password</label></br>
    <input type="password" ng-model="password"></br>
    <label> New Password</label></br>
    <input type="password" ng-model="new_password"></br>
    <label>Re-enter New Password</label></br>
    <input type="password" ng-model="rePassword"></br>
    <label class="lbl-error">{{error}}</label></br>
    <a class="btn-change-password" ng-click="changePassword()">Change Password</a>
</form>

<!-- Firebase -->
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<!-- JQuery -->
<script src="js/jquery-2.2.3.min.js"></script>
<!-- Angular Js -->
<script src="js/angular.min.js"></script>
<!-- Materialize Js -->
<script src="js/materialize.min.js"></script>
<!-- My Js -->
<script src="js/change_password.js"></script>
</body>
</html>