body {
    background: url('../images/commons/bg-texture.png');
}

#timeline {
    position: relative;
}

#cover {
    height: 400px;
    width: 100%;
    min-width: 975px;
}

.avatar {
    padding: 0 !important;
}

#profile-content {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 975px;
}

#profile-top {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.85), #ffffff 65%, #ffffff);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.85), #ffffff 65%, #ffffff);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.85), #ffffff 65%, #ffffff);
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), #ffffff 65%, #ffffff);
    background-color: transparent;
    margin-bottom: 5px !important;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overview-info {
    margin-bottom: 5px;
}

.overview-position {
    padding: 5px 0px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #666;
}

.overview-demographics {
    margin: 2px 0px;
    padding: 0;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
}

.overview-demographics a {
    color: #66696a;
}

.overview-demographics a:hover {
    color: #069;
}

.overview-summary {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
}

.overview-summary th, td {
    font-size: 12px !important;
    line-height: 15px;
    vertical-align: top;
    text-align: left;
    margin: 0px !important;
    padding: 2px 0px 0px 0px !important;
}

.overview-summary th > a {
    font-size: 12px !important;
    padding-right: 20px;
    color: #999;
}

.overview-summary td > a {
    font-size: 12px !important;
    cursor: pointer;
    color: #333;
}

.overview-summary td > a:hover {
    color: #069;
}

.profile-card {
    margin: 0 !important;
    padding: 0 !important;
}

.profile-image {
    padding: 0 !important;
    width: 240px;
    height: 240px;
}

/**********************************************/
.profile-overview {
    width: 734px;
    height: 235px;
    padding: 25px 20px 25px 40px !important;
    position: relative;
}

/**********************************/
.inline-block-left {
    display: inline-block !important;
    float: left !important;
}

.inline-block-right {
    display: inline-block !important;
    float: right !important;
}

.inline-block {
    display: inline-block !important;
}

/******OVERVIEW-TOPLEFT******/
.overview-name {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    color: #000;
}

#profile-action {
    bottom: 0;
    padding: 0px !important;
    margin: 0px !important;
}

.follow-button {
    display: inline-block;
    float: left;
}

#follow-btn {
    float: left;
    border: 1px solid #1b5480;
    border-radius: 5px 0 0 5px;
}

#arrow-btn {
    float: left;
    width: 35px;
    padding: 0;
    border: 1px solid #1b5480;
    border-radius: 0 5px 5px 0;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid white;
    display: inline-block;
}

#supplemental-action {
    display: inline-block;
    padding: 2px 0px 0px 10px;
    vertical-align: top;
}

#supplemental-action p, a {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 0;

}

#supplemental-action a {
    display: block;
    font-weight: bold;
    color: #006fa6;
    cursor: pointer;
}

#supplemental-action a:hover {
    text-decoration: underline;
}

/****OVERVIEW-BOTTOMRIGHT*****/
.member-connections {
    font-size: 11px;
    color: #999;
    float: right;
    padding: 7px 0 0 10px;
    line-height: 15px;
    vertical-align: bottom;
    text-align: right;
}

.member-connections strong {
    font-weight: bold;
    display: block;
    color: #333;
    font-size: 18px;
    line-height: 14px;
}

.profile-extra {
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    clear: both;
    border-top: 1px dashed #ccc;
    background: #f6f6f6;
    margin-bottom: 10px !important;
}

.more-info {
    padding: 5px 10px 5px 10px !important;
    border-left: 2px solid #ccc;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec 0%, #e1e1e1 100%);
    background-image: -moz-linear-gradient(top, #ececec 0%, #e1e1e1 100%);
    background-image: -o-linear-gradient(top, #ececec 0%, #e1e1e1 100%);
    height: 38px;
    width: 122px;
    text-align: center;
}

/**********************************************/
.link {
    height: 38px;
}

.link-ref {
    color: #666 !important;
    margin-left: 7px;
    font-size: 11px;
    display: inline-block;
}

.link:hover .link-ref {
    color: #069 !important;
}

#link-profile {
    background: url('../images/commons/logo-in.png') no-repeat;
    width: 15px;
    height: 11px;
    cursor: pointer;
    display: inline-block;
}

.link:hover #link-profile {
    background: url('../images/commons/logo-in-hover.png') no-repeat;
}

#link-contact {
    background: url('../images/commons/contact-idle.png') no-repeat;
    width: 15px;
    height: 11px;
    cursor: pointer;
    display: inline-block;
}

.link:hover #link-contact {
    background: url('../images/commons/contact-hover.png') no-repeat;
}

/************profile*********************/
#profile {
    width: 646px;
    word-wrap: break-word;
    min-height: 1px;
    margin-right: 10px;
    padding: 0px;
}

#right-column {
    background: white;
    height: 2900px;
    width: 318px;
}

.card-body {
    background: white;
    padding-bottom: 20px;
    margin-bottom: 18px;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
    font: inherit;
    font-size: 100%;
    word-wrap: break-word;
}

.card-title {
    background-color: #333;
    color: white;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 8px 35px 8px 35px;
    margin: 0px 0px 10px 0px;
}

/*****************background*******************/
#background-content {
    padding: 0px 20px 0px 20px;
}

.background-last-section {
    border: none;
}

.background-section-header {
    margin-top: 10px;
}

.background-section-header > h3 {
    display: inline;
    margin-left: 20px;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
}

.description {
    white-space: pre-line;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    color: #333;
}

/**********************************************/
/***************Experience***************/
.info-bar {
    padding-top: 20px;
    margin-bottom: -10px;
    position: relative;
}

.info-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    margin-top: 0px;
    margin-bottom: 4px;
}

.info-title:hover {
    color: #006fa6;
}

.info-subtitle {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #434649;
}

.info-subtitle:hover {
    color: #006fa6;
}

.info-date {
    display: block;
    margin-top: 3px;
    color: #66696a;
    font-size: 13px;
    line-height: 17px;
}

.info-logo {
    float: right;
    width: 100px;
    text-align: center;
}

.info-logo img {
    max-width: 100px;
    max-height: 60px;
}

/***************volunteer*******************/
#volunteerexp {
    margin-top: 20px;
    margin-bottom: 20px;
}

#volunteerexp p {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 4px;
}

#volunteerexp ul {
    margin: 10px 0px 30px 0px;
    padding-top: 10px;
    list-style-position: inside;
}

#volunteerexp li {
    font-size: 14px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
}

#volunteerexp a {
    font: inherit;
    color: #069;
}

#volunteerexp a:hover {
    text-decoration: underline;
}

/**********************************************/
/**********************************************/
.skill-pill {
    position: relative;
    display: flex;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.skill-pill a {
    float: left;
    height: inherit;
    line-height: 24px;
}
.skills-part {
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 16px;
    color: #434649;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btnskill-percent {
    padding: 0px 2px;
    background-color: #1ba8e5;
    color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 3px 0px 0px 3px;

    min-width: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.btnskill-percent:hover {
    background-color: #069;
}

.btnskill-description {
    padding: 0px 2px;
    background-color: #f0f0f0;
    color: #333;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0px 3px 3px 0px;

    min-width: 20px;
    font-size: 13px;
    text-align: center;
}

.btnskill-description:hover {
    color: #069;
}

#different-skills .skill-pill {
    display: flex;
}

/*EDIT************************************/
.btn-save {
    font-weight: bold;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    padding: 0 13px;
    height: 31px;
    line-height: 29px;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #287bbc !important;
    border-color: #1b5480 !important;
    white-space: nowrap;
    display: inline-block !important;
    zoom: 1;
    vertical-align: middle;
}

.btn-save:hover {
    background-image: -webkit-linear-gradient(top, #2672ae 0%, #1e4f7e 100%);
    background-image: -moz-linear-gradient(top, #2672ae 0%, #1e4f7e 100%);
    background-image: -o-linear-gradient(top, #2672ae 0%, #1e4f7e 100%);
}

.btn-cancel {
    font-weight: bold;
    color: #666;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    padding: 0 13px;
    height: 31px;
    line-height: 29px;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #f2f2f2 !important;
    border-color: #a7a7a7 !important;
    white-space: nowrap;
    display: inline-block !important;
    zoom: 1;
    vertical-align: middle;
}

.btn-cancel:hover {
    background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%) !important;
}

/***Edit Name***/
.profile-card:hover .edit-name-button {
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
}

.edit-name-button {
    display: none;
}

.edit-name-button:hover {
    background-color: #00a0dc;
}

.edit-name-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-name-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editNameBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editNameText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    width: 100px !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit name**/

/***Edit position***/
.profile-card:hover .edit-position-button {
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
}

.edit-position-button {
    display: none;
}

.edit-position-button:hover {
    background-color: #00a0dc;
}

.edit-position-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-position-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editPositionBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editPositionText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit position**/

/***Edit location***/
.profile-card:hover .edit-location-button {
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
}

.edit-location-button {
    display: none;
}

.edit-location-button:hover {
    background-color: #00a0dc;
}

.edit-location-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-location-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editLocationBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editLocationText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.editIndustryText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit location**/

/***Edit summary***/
.card-content:hover .edit-summary-button {
    display: block;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    margin-left: auto;
}

.edit-summary-button {
    display: none;
}

.edit-summary-button:hover {
    background-color: #00a0dc;
}

.edit-summary-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-summary-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editSummaryBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editSummaryText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit summary**/

/***Edit current***/
.profile-card:hover .edit-current-button {
    display: block;
    position: relative;
    height: 17px;
    width: 17px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    margin-left: auto;
}

.edit-current-button {
    display: none;
}

.edit-current-button:hover {
    background-color: #00a0dc;
}

/***end Edit current***/

/***Edit previous***/
.profile-card:hover .edit-previous-button {
    display: block;
    position: relative;
    height: 17px;
    width: 17px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    margin-left: auto;
}

.edit-previous-button {
    display: none;
}

.edit-previous-button:hover {
    background-color: #00a0dc;
}

/***end Edit previous***/

/***Edit education***/
.profile-card:hover .edit-education-top-button {
    display: block;
    position: relative;
    height: 17px;
    width: 17px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
}

.edit-education-top-button {
    display: none;
}

.edit-education-top-button:hover {
    background-color: #00a0dc;
}

/***end Edit education***/

/***Edit skills***/
.card-content:hover .edit-skills-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
}

.edit-skills-button {
    display: none;
}

.edit-skills-button:hover {
    background-color: #00a0dc;
}

.edit-skills-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-skills-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editSkillsBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
    margin-left: auto;
}

.editSkillsText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit skills**/

/***delete skills***/
.card-content:hover .delete-skills-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
}

.delete-skills-button {
    display: none;
}

.delete-skills-button:hover {
    background-color: #00a0dc;
}
/***end delete skills**/

/***add skills***/
.card-content:hover .add-skills-button {
    display: block;
    position: relative;
    margin-top: 25px;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
}

.add-skills-button {
    display: none;
}

.add-skills-button:hover {
    background-color: #00a0dc;
}

.add-skills-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.add-skills-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.addSkillsBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
    margin-left: auto;
}

.addSkillsText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end add skills**/



/***Edit experience***/
.card-content:hover .edit-experience-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
}

.edit-experience-button {
    display: none;
}

.edit-experience-button:hover {
    background-color: #00a0dc;
}

.edit-experience-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-experience-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editExperienceBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
    margin-left: auto;
}

.editExperienceText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit experience**/


/***delete experience***/
.card-content:hover .delete-experience-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
}

.delete-experience-button {
    display: none;
}

.delete-experience-button:hover {
    background-color: #00a0dc;
}
/***end delete experience**/

/***add experience***/
.card-content:hover .add-experience-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
    margin-left: auto;
}

.add-experience-button {
    display: none;
}

.add-experience-button:hover {
    background-color: #00a0dc;
}

.add-experience-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.add-experience-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.addExperienceBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
    margin-left: auto;
}

.addExperienceText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end add experience**/

/***Edit education***/
.card-content:hover .edit-education-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
}

.edit-education-button {
    display: none;
}

.edit-education-button:hover {
    background-color: #00a0dc;
}

.edit-education-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-education-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editEducationBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editEducationText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit education**/

/***add education***/
.card-content:hover .add-education-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
    margin-left: auto;
}

.add-education-button {
    display: none;
}

.add-education-button:hover {
    background-color: #00a0dc;
}

.add-education-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.add-education-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.addEducationBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
    margin-left: auto;
}

.addEducationText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end add education**/

/***delete education***/
.card-content:hover .delete-education-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
}

.delete-education-button {
    display: none;
}

.delete-education-button:hover {
    background-color: #00a0dc;
}
/***end delete education**/



/***Edit project***/
.card-content:hover .edit-project-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
}

.edit-project-button {
    display: none;
}

.edit-project-button:hover {
    background-color: #00a0dc;
}

.edit-project-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-project-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editProjectBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editProjectText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit project**/

/***add project***/
.card-content:hover .add-project-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
    margin-left: auto;
}

.add-project-button {
    display: none;
}

.add-project-button:hover {
    background-color: #00a0dc;
}

.add-project-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
    float: right;
    margin-left: auto;
}

.add-project-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.addProjectBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
    margin-left: auto;
}

.addProjectText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end add project**/

/***delete project***/
.card-content:hover .delete-project-button {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    float: right;
}

.delete-project-button {
    display: none;
}

.delete-project-button:hover {
    background-color: #00a0dc;
}
/***end delete project**/

/***Edit causes***/
.ul-li-div {
    position: relative;
    display: inline-flex;
}
.card-content:hover .edit-causes-button {
    display: inline-block;
    position: relative;
    height: 17px;
    width: 17px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    margin-left: auto;
}
.edit-causes-button {
    display: none;
}

.edit-causes-button:hover {
    background-color: #00a0dc;
}

.edit-causes-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-causes-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editCausesBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editCausesText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit causes**/

/***delete causes***/
.card-content:hover .delete-causes-button {
    display: inline-block;
    position: relative;
    height: 17px;
    width: 17px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    margin-left: auto;
}

.delete-causes-button {
    display: none;
}

.delete-causes-button:hover {
    background-color: #00a0dc;
}
/***end delete causes**/

/***Edit Organizations***/
.card-content:hover .edit-organizations-button {
    display: inline-block;
    position: relative;
    height: 17px;
    width: 17px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    margin-left: auto;
}

.edit-organizations-button {
    display: none;
}

.edit-organizations-button:hover {
    background-color: #00a0dc;
}

.edit-organizations-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-organizations-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editOrganizationsBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editOrganizationsText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit Organizations**/

/***delete organizations***/
.card-content:hover .delete-organizations-button {
    display: inline-block;
    position: relative;
    height: 17px;
    width: 17px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
    margin-left: auto;
}

.delete-organizations-button {
    display: none;
}

.delete-organizations-button:hover {
    background-color: #00a0dc;
}
/***end delete organizations**/

/***Edit location***/
.profile-card:hover .edit-location-button {
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 25px;
    line-height: 26px;
    border: 0px;
    color: #505e69;
    padding: 0 0 0 0;
}

.edit-location-button {
    display: none;
}

.edit-location-button:hover {
    background-color: #00a0dc;
}

.edit-location-form {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #c9c9c9 transparent transparent;
    border-width: 12px 12px 12px 5px;
    overflow: visible;
    content: "\0020";
    position: absolute;
    display: block;
    background: none;
    top: 0;
    right: 100%;
}

.edit-location-form:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.editLocationBox {
    display: inline-block;
    position: absolute;
    margin-left: 15px !important;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px 15px 15px;
    background: #fff;
    z-index: 10;
}

.editLocationText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.editIndustryText {
    border: 1px solid #ccc !important;
    height: 2rem !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}

/***end edit location**/


/***go top of page**/
.top-button {
    background-image: url("../images/commons/top.png");
    background-color: #fff;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 36px;
    width: 36px;
    line-height: 26px;
    border: 0;
    color: #505e69;
    padding: 0 0 0 0;
}

.top-button:hover {
    background-color: #00a0dc;
}
/***end go top of page**/

/**account-bar***/
.account-bar {
    display: inline-block;
    background-color: #00a0dc;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
}
.infor-uid  {
    display: inline-block;
    color: #fff;
}
.btn-logout {
    border: 0px;
    color: #fff;
    background-color: #00a0dc;
    padding: 0 0 0 0;
    text-decoration: underline;
    margin: 0 4px 0 4px;
}
.btn-changePassword {
    border: 0px;
    color: #fff;
    background-color: #00a0dc;
    padding: 0 0 0 0;
    text-decoration: underline;
    margin: 0 4px 0 0;
}
/***end account-bar**/


