<html>
	<head>
		<meta charset='utf-8'/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>		
		<title> Bé Tập Tính </title>
	</head>
	<body ng-app="my_app">
		<h1> 
			Bé Tập Tính 
		</h1>
		<form name='my_form'>
			<table ng-controller="my_controller">
				<tr>
					<td>
						Số thứ nhất
					</td>
					<td>
						<input type='text' name='soThuNhat' ng-model='txtSo1' ng-pattern='/^[+-]?\d+(\.\d+)?$/' 
						ng-blur="kiem_tra_so_thuc(my_form.soThuNhat)"/>
					</td>
					<td>
						<input type='radio' ng-model='pheptinh' value='cong'/> Cộng
					</td>
					<td>
						<input type='radio' ng-model='pheptinh' value='tru'/> Trừ
					</td>
				</tr>
				<tr>
					<td>
						Số thứ hai
					</td>
					<td>
						<input type='text' name='soThuHai' ng-model='txtSo2' ng-pattern='/^[+-]?\d+(\.\d+)?$/'
						ng-blur="kiem_tra_so_thuc(my_form.soThuHai)"/>
					</td>
					<td>
						<input type='radio' ng-model='pheptinh' value='nhan'/> Nhân
					</td>
					<td>
						<input type='radio' ng-model='pheptinh' value='chia'/> Chia
					</td>
				</tr>
				<tr>
					<td>
						Kết quả
					</td>
					<td>
						<input type='text' value='{{txtKetQua}}'/>
					</td>
					<td>
						<input type='button' value='Tính' ng-click='tinh()'/>
					</td>
				</tr>
				<tr>
					<td id='lblThongBao' ng-bind='txtThongBao'></td>
					<td id='lblThongBaoLoi' colspan='3' ng-bind='txtNoiDung'></td>
				</tr>
			</table>
		</form>
		<script type="text/javascript" src="js/angularjs_1_4.js"></script>
		<script type="text/javascript" src='js/main.js'></script>
	</body>
</html>